.hlta-container {
    position: relative;
    text-size-adjust: none;
}

.hlta-backdrop {
    position: absolute;
    overflow: hidden;
    border-color: transparent;
}

.hlta-highlight {
    color: transparent !important; 
    word-wrap: break-word !important;
}

.hlta-highlight > * {
    display: none;
}

.hlta-container > .htla-textarea {
    position: relative;
    background: none transparent !important;
}

.hlta-highlight > mark {
    background-color: #fccfc8;
    display: inline-block;
}


.hlta-highlight > mark.sel {
    background-color: #ff8572;
}
